/** Global setting **/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; /* 1rem = 10px*/
}
body {
  box-sizing: border-box;
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(to left top, #076585, #f7f7f9);
  height: 100vh;
}
:root {
  --gray-light: #f7f7f7;
  --gray-dark: #888;
  --black: #000;
  --btn-color-bg: #2998ff;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 1.8rem;
}
/* Default input */
input {
  display: inline-block;
  background: var(--gray-light);
  color: var(--black);
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  border: 0.4rem solid var(--gray-dark);
  padding: 0.5rem;
  width: 40rem;
  border-radius: 4rem;
}
/* Default btn */
button {
  background: var(--btn-color-bg);
  color: var(--black);
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 4rem;
  box-shadow: 0.2rem 0.5rem 0.5rem #444;
  width: 40rem;
  height: 4rem;
}
/* h1 {
  font-size: 36px;
} */

textarea {
  background: var(--gray-light);
  color: var(--gray-dark);
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  border: 0.4rem solid var(--gray-dark);
  padding: 0.5rem;
  width: 40rem;
  border-radius: 4rem;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: var(--gray-dark);
  font-family: 'Oswald', sans-serif;
}

#app {
  padding: 4rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: minmax(8rem, auto);
  /* grid-template-columns: minmax(150px, auto); */
  grid-gap: 2rem;

  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
}

.holder {
}

.entry {
  background: rgba(164, 179, 211, 0.25);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
  position: relative;
  text-align: center;
  top: 1rem;
  font-size: 4rem;
}
.title {
}
